{:tasks
 {help  (shell "cat README.org")
  test  (do (shell "npx shadow-cljs compile test")
            (shell "npx karma start --single-run"))
  watch (do (shell "npm i")
            (shell "npx shadow-cljs watch app"))}}
